.abbvie-footer {
  margin: 40px 20px;
  background: #FAFAFA;
  color: #333;
  font-family: var(--body-font, Arial);
  border-top-left-radius: 80px;
}

.abbvie-footer a {
  color: #333;
  text-decoration: none;
}

.abbvie-footer a:hover {
  text-decoration: none;
}

/* TOP AREA */
.footer-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
  border-bottom: 1px solid #444;
  padding-bottom: 40px;
}

.footer-brand {
  font-size: 28px;
  font-weight: 600;
}

.footer-columns {
  display: flex;
  gap: 50px;
}

.footer-col p {
  margin: 6px 0;
}

/* BOTTOM AREA */
.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links ul li {
  margin: 4px 0;
}

.footer-cta .button-container a {
  padding: 8px 14px;
  border: 1px solid #fff;
  border-radius: 4px;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .footer-top {
    flex-direction: column;
  }

  .footer-columns {
    flex-direction: column;
  }
}

.footer-links ul {
  display: flex;
  gap: 20px;
  align-items: center;
  text-transform: uppercase;
  font-size: 12px;
}
.footer-links ul li a:hover {
  font-weight: 700;
  text-decoration: none;
}
.footer-col ul li {
  margin-bottom: 16px;
  font-size: 18px;
  color: #071d49;
}
.footer-col p {
  margin-bottom: 24px;
  font-size: 12px;
  color: #666b7a;
}
.footer-columns .footer-col:first-child ul li {
  font-size: 40px;
}
